<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeStudy">
            <h2><span jhiTranslate="skyfallApp.timeStudy.detail.title">Time Study</span> {{timeStudy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="skyfallApp.timeStudy.startTime">Start Time</span></dt>
                <dd>
                    <span>{{timeStudy.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.timeStudy.endTime">End Time</span></dt>
                <dd>
                    <span>{{timeStudy.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.timeStudy.journeyInstructor">Journey Instructor</span></dt>
                <dd>
                    <div *ngIf="timeStudy.journeyInstructorId">
                        <a [routerLink]="['/journey-instructor', timeStudy.journeyInstructorId, 'view']">{{timeStudy.journeyInstructorNameDay}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="skyfallApp.timeStudy.day">Day</span></dt>
                <dd>
                    <div *ngIf="timeStudy.dayId">
                        <a [routerLink]="['/day', timeStudy.dayId, 'view']">{{timeStudy.dayNameDay}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-study', timeStudy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
