<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.timeStudy.home.title">Time Studies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-study" [routerLink]="['/time-study/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.timeStudy.home.createLabel">
            Create a new Time Study
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="timeStudies?.length === 0">
        <span jhiTranslate="skyfallApp.timeStudy.home.notFound">No timeStudies found</span>
    </div>
    <div class="table-responsive" *ngIf="timeStudies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startTime"><span jhiTranslate="skyfallApp.timeStudy.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endTime"><span jhiTranslate="skyfallApp.timeStudy.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="journeyInstructorNameDay"><span jhiTranslate="skyfallApp.timeStudy.journeyInstructor">Journey Instructor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dayNameDay"><span jhiTranslate="skyfallApp.timeStudy.day">Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeStudy of timeStudies ;trackBy: trackId">
                <td><a [routerLink]="['/time-study', timeStudy.id, 'view' ]">{{timeStudy.id}}</a></td>
                <td>{{timeStudy.startTime}}</td>
                <td>{{timeStudy.endTime}}</td>
                <td>
                    <div *ngIf="timeStudy.journeyInstructorId">
                        <a [routerLink]="['/journey-instructor', timeStudy.journeyInstructorId , 'view' ]" >{{timeStudy.journeyInstructorNameDay}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timeStudy.dayId">
                        <a [routerLink]="['/day', timeStudy.dayId , 'view' ]" >{{timeStudy.dayNameDay}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/time-study', timeStudy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-study', timeStudy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(timeStudy)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="timeStudies?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
