<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.courseHasTrimester.home.title">Course Has Trimesters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-has-trimester" [routerLink]="['/course-has-trimester/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.courseHasTrimester.home.createLabel">
            Create a new Course Has Trimester
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="courseHasTrimesters?.length === 0">
        <span jhiTranslate="skyfallApp.courseHasTrimester.home.notFound">No courseHasTrimesters found</span>
    </div>
    <div class="table-responsive" *ngIf="courseHasTrimesters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="courseCourseNumber"><span jhiTranslate="skyfallApp.courseHasTrimester.course">Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="trimesterNameTrimester"><span jhiTranslate="skyfallApp.courseHasTrimester.trimester">Trimester</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courseHasTrimester of courseHasTrimesters ;trackBy: trackId">
                <td><a [routerLink]="['/course-has-trimester', courseHasTrimester.id, 'view' ]">{{courseHasTrimester.id}}</a></td>
                <td>
                    <div *ngIf="courseHasTrimester.courseId">
                        <a [routerLink]="['/course', courseHasTrimester.courseId , 'view' ]" >{{courseHasTrimester.courseCourseNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseHasTrimester.trimesterId">
                        <a [routerLink]="['/trimester', courseHasTrimester.trimesterId , 'view' ]" >{{courseHasTrimester.trimesterNameTrimester}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/course-has-trimester', courseHasTrimester.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-has-trimester', courseHasTrimester.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(courseHasTrimester)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="courseHasTrimesters?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
