<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.typeEnvironment.home.title">Type Environments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-environment" [routerLink]="['/type-environment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.typeEnvironment.home.createLabel">
            Create a new Type Environment
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="typeEnvironments?.length === 0">
        <span jhiTranslate="skyfallApp.typeEnvironment.home.notFound">No typeEnvironments found</span>
    </div>
    <div class="table-responsive" *ngIf="typeEnvironments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type"><span jhiTranslate="skyfallApp.typeEnvironment.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="skyfallApp.typeEnvironment.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stateTypeEnvironment"><span jhiTranslate="skyfallApp.typeEnvironment.stateTypeEnvironment">State Type Environment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeEnvironment of typeEnvironments ;trackBy: trackId">
                <td><a [routerLink]="['/type-environment', typeEnvironment.id, 'view' ]">{{typeEnvironment.id}}</a></td>
                <td>{{typeEnvironment.type}}</td>
                <td>{{typeEnvironment.description}}</td>
                <td jhiTranslate="{{'skyfallApp.State.' + typeEnvironment.stateTypeEnvironment}}">{{typeEnvironment.stateTypeEnvironment}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/type-environment', typeEnvironment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/type-environment', typeEnvironment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(typeEnvironment)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="typeEnvironments?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
