<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeEnvironment">
            <h2><span jhiTranslate="skyfallApp.typeEnvironment.detail.title">Type Environment</span> {{typeEnvironment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="skyfallApp.typeEnvironment.type">Type</span></dt>
                <dd>
                    <span>{{typeEnvironment.type}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.typeEnvironment.description">Description</span></dt>
                <dd>
                    <span>{{typeEnvironment.description}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.typeEnvironment.stateTypeEnvironment">State Type Environment</span></dt>
                <dd>
                    <span jhiTranslate="{{'skyfallApp.State.' + typeEnvironment.stateTypeEnvironment}}">{{typeEnvironment.stateTypeEnvironment}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-environment', typeEnvironment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
