<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.instructorLinking.home.title">Instructor Linkings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instructor-linking" [routerLink]="['/instructor-linking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.instructorLinking.home.createLabel">
            Create a new Instructor Linking
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="instructorLinkings?.length === 0">
        <span jhiTranslate="skyfallApp.instructorLinking.home.notFound">No instructorLinkings found</span>
    </div>
    <div class="table-responsive" *ngIf="instructorLinkings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startDate"><span jhiTranslate="skyfallApp.instructorLinking.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="skyfallApp.instructorLinking.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="yearNumberYear"><span jhiTranslate="skyfallApp.instructorLinking.year">Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="instructorId"><span jhiTranslate="skyfallApp.instructorLinking.instructor">Instructor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="linkageTypeLink"><span jhiTranslate="skyfallApp.instructorLinking.linkage">Linkage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instructorLinking of instructorLinkings ;trackBy: trackId">
                <td><a [routerLink]="['/instructor-linking', instructorLinking.id, 'view' ]">{{instructorLinking.id}}</a></td>
                <td>{{instructorLinking.startDate | date:'medium'}}</td>
                <td>{{instructorLinking.endDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="instructorLinking.yearId">
                        <a [routerLink]="['/year', instructorLinking.yearId , 'view' ]" >{{instructorLinking.yearNumberYear}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="instructorLinking.instructorId">
                        <a [routerLink]="['/instructor', instructorLinking.instructorId , 'view' ]" >{{instructorLinking.instructorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="instructorLinking.linkageId">
                        <a [routerLink]="['/linkage', instructorLinking.linkageId , 'view' ]" >{{instructorLinking.linkageTypeLink}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/instructor-linking', instructorLinking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/instructor-linking', instructorLinking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(instructorLinking)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="instructorLinkings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
