<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phase">
            <h2><span jhiTranslate="skyfallApp.phase.detail.title">Phase</span> {{phase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="skyfallApp.phase.namePhase">Name Phase</span></dt>
                <dd>
                    <span>{{phase.namePhase}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.phase.statePhase">State Phase</span></dt>
                <dd>
                    <span jhiTranslate="{{'skyfallApp.State.' + phase.statePhase}}">{{phase.statePhase}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.phase.proyect">Proyect</span></dt>
                <dd>
                    <div *ngIf="phase.proyectId">
                        <a [routerLink]="['/proyect', phase.proyectId, 'view']">{{phase.proyectCodeProyect}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phase', phase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
