<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.proyectActivity.home.title">Proyect Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proyect-activity" [routerLink]="['/proyect-activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.proyectActivity.home.createLabel">
            Create a new Proyect Activity
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="proyectActivities?.length === 0">
        <span jhiTranslate="skyfallApp.proyectActivity.home.notFound">No proyectActivities found</span>
    </div>
    <div class="table-responsive" *ngIf="proyectActivities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numberProyectActivity"><span jhiTranslate="skyfallApp.proyectActivity.numberProyectActivity">Number Proyect Activity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descriptionActivity"><span jhiTranslate="skyfallApp.proyectActivity.descriptionActivity">Description Activity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stateProyectActivity"><span jhiTranslate="skyfallApp.proyectActivity.stateProyectActivity">State Proyect Activity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phaseNamePhase"><span jhiTranslate="skyfallApp.proyectActivity.phase">Phase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proyectActivity of proyectActivities ;trackBy: trackId">
                <td><a [routerLink]="['/proyect-activity', proyectActivity.id, 'view' ]">{{proyectActivity.id}}</a></td>
                <td>{{proyectActivity.numberProyectActivity}}</td>
                <td>{{proyectActivity.descriptionActivity}}</td>
                <td jhiTranslate="{{'skyfallApp.State.' + proyectActivity.stateProyectActivity}}">{{proyectActivity.stateProyectActivity}}</td>
                <td>
                    <div *ngIf="proyectActivity.phaseId">
                        <a [routerLink]="['/phase', proyectActivity.phaseId , 'view' ]" >{{proyectActivity.phaseNamePhase}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proyect-activity', proyectActivity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proyect-activity', proyectActivity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(proyectActivity)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="proyectActivities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
