<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="instructor">
            <h2><span jhiTranslate="skyfallApp.instructor.detail.title">Instructor</span> {{instructor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="skyfallApp.instructor.stateInstructor">State Instructor</span></dt>
                <dd>
                    <span jhiTranslate="{{'skyfallApp.State.' + instructor.stateInstructor}}">{{instructor.stateInstructor}}</span>
                </dd>
                <dt><span jhiTranslate="skyfallApp.instructor.client">Client</span></dt>
                <dd>
                    <div *ngIf="instructor.clientId">
                        <a [routerLink]="['/client', instructor.clientId, 'view']">{{instructor.clientDocumentNumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/instructor', instructor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
