<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.trimesterPlanning.home.title">Trimester Plannings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trimester-planning" [routerLink]="['/trimester-planning/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.trimesterPlanning.home.createLabel">
            Create a new Trimester Planning
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="trimesterPlannings?.length === 0">
        <span jhiTranslate="skyfallApp.trimesterPlanning.home.notFound">No trimesterPlannings found</span>
    </div>
    <div class="table-responsive" *ngIf="trimesterPlannings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="learningResultCodeResult"><span jhiTranslate="skyfallApp.trimesterPlanning.learningResult">Learning Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="trimesterNameTrimester"><span jhiTranslate="skyfallApp.trimesterPlanning.trimester">Trimester</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="planningCode"><span jhiTranslate="skyfallApp.trimesterPlanning.planning">Planning</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trimesterPlanning of trimesterPlannings ;trackBy: trackId">
                <td><a [routerLink]="['/trimester-planning', trimesterPlanning.id, 'view' ]">{{trimesterPlanning.id}}</a></td>
                <td>
                    <div *ngIf="trimesterPlanning.learningResultId">
                        <a [routerLink]="['/learning-result', trimesterPlanning.learningResultId , 'view' ]" >{{trimesterPlanning.learningResultCodeResult}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trimesterPlanning.trimesterId">
                        <a [routerLink]="['/trimester', trimesterPlanning.trimesterId , 'view' ]" >{{trimesterPlanning.trimesterNameTrimester}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="trimesterPlanning.planningId">
                        <a [routerLink]="['/planning', trimesterPlanning.planningId , 'view' ]" >{{trimesterPlanning.planningCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/trimester-planning', trimesterPlanning.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/trimester-planning', trimesterPlanning.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(trimesterPlanning)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="trimesterPlannings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
