<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trimester-planning-heading" jhiTranslate="skyfallApp.trimesterPlanning.home.createOrEditLabel">Create or edit a Trimester Planning</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.trimesterPlanning.learningResult" for="field_learningResult">Learning Result</label>
                    <select class="form-control" id="field_learningResult" name="learningResult" formControlName="learningResultId">
                        <option *ngIf="!editForm.get('learningResultId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="learningResultOption.id" *ngFor="let learningResultOption of learningresults; trackBy: trackLearningResultById">{{learningResultOption.codeResult}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('learningResultId').invalid && (editForm.get('learningResultId').dirty || editForm.get('learningResultId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('learningResultId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.trimesterPlanning.trimester" for="field_trimester">Trimester</label>
                    <select class="form-control" id="field_trimester" name="trimester" formControlName="trimesterId">
                        <option *ngIf="!editForm.get('trimesterId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="trimesterOption.id" *ngFor="let trimesterOption of trimesters; trackBy: trackTrimesterById">{{trimesterOption.nameTrimester}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('trimesterId').invalid && (editForm.get('trimesterId').dirty || editForm.get('trimesterId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('trimesterId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.trimesterPlanning.planning" for="field_planning">Planning</label>
                    <select class="form-control" id="field_planning" name="planning" formControlName="planningId">
                        <option *ngIf="!editForm.get('planningId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="planningOption.id" *ngFor="let planningOption of plannings; trackBy: trackPlanningById">{{planningOption.code}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('planningId').invalid && (editForm.get('planningId').dirty || editForm.get('planningId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('planningId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
