<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sede-heading" jhiTranslate="skyfallApp.sede.home.createOrEditLabel">Create or edit a Sede</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.sede.nameSede" for="field_nameSede">Name Sede</label>
                    <input type="text" class="form-control" name="nameSede" id="field_nameSede"
                           formControlName="nameSede"/>
                    <div *ngIf="editForm.get('nameSede').invalid && (editForm.get('nameSede').dirty || editForm.get('nameSede').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameSede').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nameSede').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.sede.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.sede.stateSede" for="field_stateSede">State Sede</label>
                    <select class="form-control" name="stateSede" formControlName="stateSede" id="field_stateSede">
                        <option value="ACTIVO">{{'skyfallApp.State.ACTIVO' | translate}}</option>
                        <option value="INACTIVO">{{'skyfallApp.State.INACTIVO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('stateSede').invalid && (editForm.get('stateSede').dirty || editForm.get('stateSede').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateSede').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
