<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.ambient.home.title">Ambients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ambient" [routerLink]="['/ambient/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.ambient.home.createLabel">
            Create a new Ambient
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="ambients?.length === 0">
        <span jhiTranslate="skyfallApp.ambient.home.notFound">No ambients found</span>
    </div>
    <div class="table-responsive" *ngIf="ambients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numberRoom"><span jhiTranslate="skyfallApp.ambient.numberRoom">Number Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="description"><span jhiTranslate="skyfallApp.ambient.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="limitation"><span jhiTranslate="skyfallApp.ambient.limitation">Limitation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stateAmbient"><span jhiTranslate="skyfallApp.ambient.stateAmbient">State Ambient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="typeEnvironmentType"><span jhiTranslate="skyfallApp.ambient.typeEnvironment">Type Environment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sedeNameSede"><span jhiTranslate="skyfallApp.ambient.sede">Sede</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ambient of ambients ;trackBy: trackId">
                <td><a [routerLink]="['/ambient', ambient.id, 'view' ]">{{ambient.id}}</a></td>
                <td>{{ambient.numberRoom}}</td>
                <td>{{ambient.description}}</td>
                <td jhiTranslate="{{'skyfallApp.Limitation.' + ambient.limitation}}">{{ambient.limitation}}</td>
                <td jhiTranslate="{{'skyfallApp.State.' + ambient.stateAmbient}}">{{ambient.stateAmbient}}</td>
                <td>
                    <div *ngIf="ambient.typeEnvironmentId">
                        <a [routerLink]="['/type-environment', ambient.typeEnvironmentId , 'view' ]" >{{ambient.typeEnvironmentType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ambient.sedeId">
                        <a [routerLink]="['/sede', ambient.sedeId , 'view' ]" >{{ambient.sedeNameSede}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ambient', ambient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ambient', ambient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(ambient)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="ambients?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
