<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-level-formation-heading" jhiTranslate="skyfallApp.levelFormation.home.createOrEditLabel">Create or edit a Level Formation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.levelFormation.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                    <div *ngIf="editForm.get('level').invalid && (editForm.get('level').dirty || editForm.get('level').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('level').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.levelFormation.stateLevelFormation" for="field_stateLevelFormation">State Level Formation</label>
                    <select class="form-control" name="stateLevelFormation" formControlName="stateLevelFormation" id="field_stateLevelFormation">
                        <option value="ACTIVO">{{'skyfallApp.State.ACTIVO' | translate}}</option>
                        <option value="INACTIVO">{{'skyfallApp.State.INACTIVO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('stateLevelFormation').invalid && (editForm.get('stateLevelFormation').dirty || editForm.get('stateLevelFormation').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stateLevelFormation').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
