<div>
    <h2 id="page-heading">
        <span jhiTranslate="skyfallApp.scheduleAvailability.home.title">Schedule Availabilities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-schedule-availability" [routerLink]="['/schedule-availability/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="skyfallApp.scheduleAvailability.home.createLabel">
            Create a new Schedule Availability
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="scheduleAvailabilities?.length === 0">
        <span jhiTranslate="skyfallApp.scheduleAvailability.home.notFound">No scheduleAvailabilities found</span>
    </div>
    <div class="table-responsive" *ngIf="scheduleAvailabilities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="instructorLinkingId"><span jhiTranslate="skyfallApp.scheduleAvailability.instructorLinking">Instructor Linking</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="journeyInstructorNameDay"><span jhiTranslate="skyfallApp.scheduleAvailability.journeyInstructor">Journey Instructor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scheduleAvailability of scheduleAvailabilities ;trackBy: trackId">
                <td><a [routerLink]="['/schedule-availability', scheduleAvailability.id, 'view' ]">{{scheduleAvailability.id}}</a></td>
                <td>
                    <div *ngIf="scheduleAvailability.instructorLinkingId">
                        <a [routerLink]="['/instructor-linking', scheduleAvailability.instructorLinkingId , 'view' ]" >{{scheduleAvailability.instructorLinkingId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="scheduleAvailability.journeyInstructorId">
                        <a [routerLink]="['/journey-instructor', scheduleAvailability.journeyInstructorId , 'view' ]" >{{scheduleAvailability.journeyInstructorNameDay}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/schedule-availability', scheduleAvailability.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/schedule-availability', scheduleAvailability.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(scheduleAvailability)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="scheduleAvailabilities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
