<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-limitation-environment-heading" jhiTranslate="skyfallApp.limitationEnvironment.home.createOrEditLabel">Create or edit a Limitation Environment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.limitationEnvironment.learningResult" for="field_learningResult">Learning Result</label>
                    <select class="form-control" id="field_learningResult" name="learningResult" formControlName="learningResultId">
                        <option *ngIf="!editForm.get('learningResultId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="learningResultOption.id" *ngFor="let learningResultOption of learningresults; trackBy: trackLearningResultById">{{learningResultOption.codeResult}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('learningResultId').invalid && (editForm.get('learningResultId').dirty || editForm.get('learningResultId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('learningResultId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="skyfallApp.limitationEnvironment.ambient" for="field_ambient">Ambient</label>
                    <select class="form-control" id="field_ambient" name="ambient" formControlName="ambientId">
                        <option *ngIf="!editForm.get('ambientId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="ambientOption.id" *ngFor="let ambientOption of ambients; trackBy: trackAmbientById">{{ambientOption.numberRoom}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('ambientId').invalid && (editForm.get('ambientId').dirty || editForm.get('ambientId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('ambientId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
